/*Desktop*/
:root {
    scroll-behavior: smooth;
    /*Colors*/
    --bg-primary:#203771;
    --bg-secondary:#ef9919;
    --bg-light:#f9f5f2;
    --bg-dark:#302e2d;
    --bg-dark-input:#ece8e5;
    --bg-white:#ffffff;
    /*Typography*/
    --font:'Poppins', sans-serif;
    --title-mobile:32px;
    --title-desktop:50px;
    --subtitle-mobile:22px;
    --subtitle-desktop:30px;
    /*Icons*/
    --social-icon:24px;
    --contact-icon:40px;
    --arrow:20px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px regular;
    font-family: var(--font);
    color: var(--bg-dark);
}
/*Header contiene la navegación, el Intro y Subscribe*/
header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-primary);
}

/*Navegación*/
header .navbar {
    width: 100%;
    height: 50px;
    position: relative;
    background-color: var(--bg-primary);
    z-index: 10;
}
header .navbar .menu__mobile{
    display: none;
}
header .navbar nav {
    position: fixed;
    display: flex;
    justify-content:right;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 2vh;
    gap: 4em;
    background-color: var(--bg-primary);
}
header .navbar nav > div {
    width: 75%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.shadow {
    box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.342);
}
header .navbar nav > div a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--bg-white);
}
header .navbar nav .active {
    color: var(--bg-secondary);
}
header .navbar nav > div a:hover {
    font-weight: bold;
    transition: 0.5s;
    color: var(--bg-white);
    background-color: var(--bg-secondary);
}

/*Introdución Personal*/
header .intro {
    display: grid;
    width: 100%;
    height: 370px;
    padding-bottom: 10vh;
    grid-template-rows: 2fr 4fr 1fr;
    grid-template-areas: 
        "hello"
        "photo"
        "social"
        ;
}
header .intro .hello{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 180px;
    padding-top: 1em;
    grid-area: hello;
}
header .intro .hello > p {
    margin: 0;
    min-width: 55%;
    min-width: 100%;
    text-align: center;
    font-size: var(--title-desktop);
    color: var(--bg-white);
}
header .intro .hello > p > label{
    color: var(--bg-secondary);
    font-weight: 600;
}
header .intro .hello > h2 {
    margin: 0;
    width: 55%;
    text-align: center;
    color: var(--bg-white);
    font-size: var(--subtitle-desktop);
}

/*Foto de presentación*/
header .intro .photo {
    display: flex;
    justify-content: center;
    grid-area: photo;
    height: 270px;
    margin-top: 1em;
    overflow: hidden;
}
header .intro .photo > img {
    border-radius: 2em;
    width: 190px;
    height: 240px;
    min-width: 170px;
    min-height: 230px;
}

header .intro .photo > div {
    width: 120px;
    position: relative;
    background-color: #ffffff33;
    height: 3em;
    border-radius: 2em;
    padding-bottom: 6px;
}
header .intro .photo > div:nth-child(1) {
    left:2em;
    top:10px;
}
header .intro .photo > div:nth-child(3) {
    align-self: flex-end;
    right:2em;
    bottom:10px;
}
header .intro .photo .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 120px;
    height: 3em;
    background-color: var(--bg-white);
    border-radius: 2em;
    box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.342);
}
header .intro .photo .info > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 100%;
    height: auto;
    margin: 0;
}
header .intro .photo .info p:nth-child(1){
    font-weight:600;
    color: var(--bg-dark);
    grid-template-rows: 2/3;
}
header .intro .photo .info p:nth-child(2){
    font-weight: bold;
    color: var(--bg-secondary);
    grid-template-rows: 3/4;
}

header .intro .social {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: social;
    z-index: 5;
    height: 40px;
}
header .intro .social .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 3em;
}
header .intro .social .icons > a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bg-light);
    min-width: 40px;
    min-height: 40px;
    color: var(--bg-primary);
    text-decoration: none;
}
/*Suscripción y Angulos*/
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.angle {
    width: 100%;
    border-left: 15em solid var(--bg-white);
    border-bottom: 10em solid var(--bg-white);
    border-top: 10em solid transparent;
    border-right: 15em solid var(--bg-white);
    bottom: 0;
    left: 0;
}
.subscribe__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    width: 70%;
    bottom: 10%;
    position: absolute;
    height: 50%;
    background-color: var(--bg-light);
}
.subscribe__form > p {
    width: 90%;
    font-size: 20px;
    font-weight:600;
    margin: 0;
    text-align: center;
}
.subscribe .subscribe__form .form__subs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0.3em;
    border-radius: 5em;
    background-color: var(--bg-dark-input);
}
.subscribe .subscribe__form .form__subs > input {
    width: 75%;
    margin-left: 2em;
    background-color: transparent;
    border: none;
}
.subscribe .subscribe__form .form__subs > input:focus {
    outline: none;
}
.subscribe .subscribe__form .form__subs > button {
    width: 25%;
}
.btn {
    color: var(--bg-white);
    background-color:var(--bg-primary);
    border: none;
    border-radius: 5em;
    padding: 0.8em;
    cursor: pointer;
}

/*Sección Principal*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

/*Acerca de mi*/
.aboutme {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
    width: 75%;
    padding-top: 11vh;
    margin-bottom: 20px;
}
.h1 {
    font-size: var(--subtitle-desktop);
    margin: 0;
}
blockquote {
    width: 97%;
    margin: 0;
    border-left: 4px solid var(--bg-primary);
    padding-left: 2%;
    text-align: justify;
}
.download{
    margin-top: 1em;
    width: 20%;
    min-width: 200px;
    align-self: center;
}
.download > a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-decoration: none;
}

/*Estudios*/
.studing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    width: 70%;
    padding-top: 11vh;
}
.card__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    width: 70%;
    height: 60%;
}
.card__container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-light);
    border-radius: 1em;
    width: 100%;
    min-height: 300px;
    gap: 1em;
    padding: 1em;
}
.card__container .card .card__header, .card__body, .card__footer {
    display: flex;
    text-align: center;
    width: 100%;
}
.card__header {
    justify-content: center;
    align-items: center;
}
.card__header img {
    width: 80px;
    height: 80px;
}
.card__body {
    flex-direction: column;
}
.card__body > p {
    font-weight: 600;
    margin: 0;
}
.card__footer {
    justify-content: center;
}

/*Habilidades*/
.habilities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    width: 70%;
    padding-top: 11vh;
}
.hab__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    width: 70%;
}
.hab__container .h1 {
    text-align: center;
}
.hab__item {
    width: 100%;
}
.hab__container .hab__item .item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hab__container .hab__item .item__header > .percent {
    color: var(--bg-primary);
}
.hab__container .item__body{
    width: 100%;
    background-color: var(--bg-light);
    height: 2vh;
    border-radius: 2em;
}
.hab__container .item__body .item__bar {
    height: 100%;
    background-color: var(--bg-primary);
    border-radius: 2em;
}
.p75{
    width: 75%;
}
.p80{
    width: 80%;
}
.p95{
    width: 95%;
}

/*Experiencia*/
.experience {
    width: 100%;
    padding-top: 5.5vh;
}
.exp__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    background-color: var(--bg-light);
    padding-bottom: 11vh;
    padding-top: 5.5vh;
}
.exp__card__container {
    display: flex;
    width: 100%;
}
.card__slider {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
    overflow: hidden;
}
.arrow__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.arrow__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.arrow__button {
    color: var(--bg-white);
    background-color: var(--bg-primary);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    padding: 1em;
    cursor: pointer;
    display: none;
}
.exp__card__container .exp__card div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-width: 125px;
}
.exp__card div > img {
    width: 60px;
    height: 60px;
}

/*Portafolio*/
.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding-top: 11vh;
    width: 95%;
}
.portfolio .portafolio__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}
.portfolio .portafolio__content img {
    height: 50vh;
}

/*Contacto*/
.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    height: auto;
    margin-top: 5em;
}
.contact .contact__info {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.contact .contact__info > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.contact .contact__info > div > img {
    background-color: var(--bg-light);
    padding: 2em;
    border-radius: 50%;
}

/*Pie de Página*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--bg-white);
    gap: 1em;
    width: 100%;
    background-color: var(--bg-primary);
    height: 180px;
}
.heart {
    font-size: 1em;
}

/*Media Queries*/
@media screen and (max-width:980px) {
    header .navbar .menu__mobile{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        background-color: var(--bg-primary);
    }
    header .navbar .menu__mobile > a {
        font-size: 1.5em;
        color: var(--bg-white);
        margin-right: 1em;
        transform: rotate(-180deg);
        transition: 0.5s;
    }
    header .navbar .menu__mobile a:hover {
        transform: rotate(180deg);
        transition: 0.5s;
    }
    header .navbar nav {
        width: 80%;
        height: 100%;
        background-color: var(--bg-light);
        z-index: 10;
        margin-top: 50px;
        padding: 0;
        right: 100%;
        transition: 1s;
    }
    header .navbar .nav__active {
        right: 20%;
    }
    header .navbar nav > div {
        align-self:flex-start;
        flex-direction: column;
        width: 100%;
        height: 80%;
    }
    header .navbar nav > div a {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        color: var(--bg-dark);
        font-size: 20px;
        padding-left: 5%;
        width: 95%;
    }
    header .intro {
        width: 100%;
        grid-template-rows: 4fr 2fr 1fr;
        grid-template-areas: 
        "photo"
        "hello"
        "social"
        ;
    }
    header .intro .hello {
        width: 100%;
    }
    header .intro .hello > p {
        font-size: 25px;
    }
    header .intro .hello > p > label{
        font-size:25px;
    }
    header .intro .hello > h2 {
        font-size: 18px;
    }
    .aboutme {
        width: 85%;
    }
    .studing {
        width: 80%;
    }
    .habilities {
        width: 80%;
    }
    .card__slider {
        overflow: auto;
    }
    .arrow__button {
        display: block;
    }
}
@media screen and (max-width:768px) {
    .aboutme {
        width: 90%;
    }
    .studing {
        width: 100%;
    }
    .habilities {
        width: 100%;
    }
    .subscribe__form {
        width: 80%;
    }
    .portfolio .portafolio__content > img {
        width: 48%;
    }
}
@media screen and (max-width:600px) {
    header .intro .hello > h2 {
        width: 70%;
    }
    .angle {
        border-left: 10em solid var(--bg-white);
        border-right: 10em solid var(--bg-white);
    }
    .card__container {
        width: 70%;
        flex-direction: column;
        align-items: center;
    }
    .card__container .card {
        padding: 0;
    }
    .portfolio .portafolio__content {
        justify-content: center;
    }
    .portfolio .portafolio__content > img {
        width: 90%;
    }
    .hab__container {
        width: 90%;
    }
}
@media screen and (max-width:480px) {
    header .intro .hello > h2 {
        width: 90%;
    }
    header .intro .photo > div:nth-child(1){
        left: 3em;
    }
    header .intro .photo > div:nth-child(3){
        right: 3em;
    }
    header .intro .social .icons {
        gap: 2em;
    }
    .angle {
        border-left: 6em solid var(--bg-white);
        border-right: 6em solid var(--bg-white);
    }
    .subscribe__form {
        width: 90%;
    }
    .subscribe__form > p {
        font-size: 16px;
        width: 100%;
    }
}